!default.xcworkspace
!gradle-wrapper.jar
!xcschemes
!xcshareddata
*.backup
.bundles/
.classpath
.cxx/
.diff/
.DS_Store
.env.*.local
.env.local
.fleet/
.gradle
.idea/
.intellijPlatform
.kotlin/
.npm
.project
.projects/
.renderdoc/
.sdk/
.settings/
.studio/
.vscode/
*_fab
*.bak
*.bundle
*.bundle.js
*.code-workspace
*.fab
*.hprof
*.iml
*.iml~
*.log
*.moved-aside
*.vi
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xcworkspacedata
**/*Framework/build/
**/examples/out/
**/examples/res/out/
*~local.properties
assemble/
/build/
application.conf
build/
build/Release
Builds/
classes/
DerivedData/
dist/
gen-external-apklibs
gradle/debug/*.xml
IDEWorkspaceChecks.plist
jspm_packages/
kotlin-js-store
local.properties
log/
logs
node_modules
node_modules/
npm-debug.log*
out/
package-lock.json
pnpm-debug.log*
reports/
services-dist.zip
services-dist/
static/
target/
Thumbs.db
typings/
xcuserdata
yarn.lock
.csporter/
bin/
